@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 785px,
  lg: 1041px,
  xl: 1416px,
);

$container-max-widths: (
  //   sm: 540px,
  //   md: 720px,
  //   lg: 960px,
  //   xl: 1140px,
  //   xxl: 1610px,,,,,,,,,,
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
